


	.shrink img {
	  height: 400px;
	  width: 400px;
	 
	  -webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
		   -o-transition: all 1s ease;
		  -ms-transition: all 1s ease;
			  transition: all 1s ease;
	}
	 
	.shrink img:hover {
	  width: 300px;
	  height: 300px;
	}
	 
	.shrink img {
	  height: 400px;
	  width: 400px;
	 
	  -webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
		   -o-transition: all 1s ease;
		  -ms-transition: all 1s ease;
			  transition: all 1s ease;
	}
	 
	.shrink img:hover {
	  width: 300px;
	  height: 300px;
	}
	
	
	
	.blinking{
		animation:blinkingText 0.8s infinite;
	}
	
	@keyframes blinkingText{
		0%{     color: #F81313;    }
		49%{    color: transparent; }
		50%{    color: #F40D74; }
		99%{    color:transparent;  }
		100%{   color:#F81313;  }
	}
	
	 
	.grow img {
	  height: 300px;
	  width: 300px;
	 
	  -webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
		   -o-transition: all 1s ease;
		  -ms-transition: all 1s ease;
			  transition: all 1s ease;
	}
	 
	.grow img:hover {
	  width: 400px;
	  height: 400px;
	}
	 
	.grow img {
	  height: 140px;
	  width: 180px;
	 
	  -webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
		   -o-transition: all 1s ease;
		  -ms-transition: all 1s ease;
			  transition: all 1s ease;
	}
	 
	.grow img:hover {
	  width: 200px;
	  height: 150px;
	}
	
	
	.imagex {
	  border: 10px solid #fff;  
	  float: left;
	  height: 150px;
	  width: 200px;
	  margin: 20px;
	  overflow: hidden;
	  
	  -webkit-box-shadow: 5px 5px 5px #111;
			  box-shadow: 5px 5px 5px #111;  
	}
	
	.alert {
	  padding: 20px;
	  background-color: #f44336;
	  color: white;
	}
	
	.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.closebtn:hover {
	  color: black;
	}
	
	.alert{display:none;}


#container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left, #right, #middle {
    display: table-cell;
    }
    /* index*/
    
    /*
.extra 
{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(54, 7, 141);
}

  .wrapper {
  border-style: solid;
  border-width: 1px;
  border-color :#8cbd20;
  }
  .right {
  border-style: solid;
  border-width: 1px;
  border-color:rgb(54, 7, 141);
  }
  .left {
  border-style: solid;
  border-width: 1px;
  border-color :#f09e2f;
  }
  .center {
  border-style: solid;
  border-width: 1px;
  border-color :#f09e2f;
  }
  .main {
  border-style: solid;
  border-width: 1px;
  border-color :rgb(116, 0, 15);
  }
  .tabs_cont
  {
  border-style: solid;
  border-width: 1px;
  border-color :#439deb;
  }
  #page1
  {
  border-style: solid;
  border-width: 1px;
  border-color :#7f7f7f;
  }

#menu
  {
  border-style: solid;
  border-width: 1px;
  border-color :rgb(0, 112, 116);
  }

  .hd
  {
  border-style: solid;
  border-width: 5px;
  border-color :rgb(0, 112, 116);
  }
  .bg
  {
  border-style: solid;
  border-width: 5px;
  border-color :rgb(0, 112, 116);
  }
*/


  .parent {
  display: flex;
  flex-direction:row;
  height: 100%;
}

.column {
  flex: 1 1 0px;
  
}
.column1 {
	flex: 1 1 0px;
	
  }
  
#login_form fieldset {
    width: 200px;
    margin-top: 10px;
     margin-left: 20px;
    padding: 10px 10px 10px 10px;
    width: 230px;
	border: 1px solid #3366FF;
}


#login_form input[type=text] {
    width: 190px;
    border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
}
#login_form input[type=password] {
    width: 190px;
    border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
}
#login_form input[type=submit] {
    margin-top: 3px;
    width: auto;
}


    /* Packages Page */
    
    div.scroll 
    {
      width:500px;
      overflow-x:scroll;
      height:35px;
}

table
{
     height: 50px; 
    overflow: scroll;
        border-collapse:collapse; 
        border-radius: 5px;
} 
th
{
        font-family:segoe ui;
        color:black;
        font-size:11pt;
        border-bottom:1px solid #fff;
        border-right:1px solid #fff;
        border-left:1px solid #fff;
        color:#fff;padding:1px 1px 0;
        background-color:#0C88C1;
}
td
{
        font-family:Courier; 
        color:black; 
        font-size:11pt;
        
        border-bottom:1px solid #fff;
        border-right:1px solid #fff;
        color:black;
        padding:2px 1px 0 
   
}
tr 
{
        background-color:#CEF6F5
}



  .container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 85%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}

.container .btn:hover 

{

    background-color:#C2C2C2;
}

.frame { height: 200px; width: 200px; overflow: hidden; } .zoomin img { height: 200px; width: 200px; -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; } .zoomin img:hover { width: 300px; height: 300px; } 

/* */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}



#tooplate_middle { 
	clear: both;
	width: 960px;
	height: 350px;
	padding: 37px 30px 51px 30px; 
	overflow: hidden;
	background: url(../images/tooplate_middle.png) no-repeat;
}

#tooplate_middle_subpage { 
	clear: both;
	width: 960px;
	height: 120px;
	padding: 15px 0;
	margin-bottom: 20px;
	background: url(../images/tooplate_divider.jpg) top repeat-x;
}

#tooplate_middle_subpage h2 {
	color: #bd9213;
}

#tooplate_middle_subpage p {
	font-size: 18px;
	color: #7f6d4e;
}


.left {
	float:left;
}
.right {
	float:right;
}

.center {
	float:center;
}

.wrapper {
	width:100%;
	overflow:hidden;
}
.headwrapper {
	width:100%;

}
.midwrapper {
	
	width:100%;
	overflow:hidden;
}
.hd{
	
}
.headwrap {
	width:100%;
	overflow:hidden;
}
body {
	background:url(../images/bg.jpg) top center repeat;
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#323232;
	line-height:17px;
	
}
.inner_copy, .inner_copy a {
	border:0;
	float:right;
	background:#fff;
	color:rgb(0, 112, 116);
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0;
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	behavior:url(../js/PIE.htc);
	position:relative;
}
.body1 {
	background:url(../images/bg_footer.jpg) top center repeat;
	height:100px;
}
.main {
	margin:0 auto;
	width:985px;
	position:relative;
}
.main1 {
	margin:0 auto;
	width:960px;
	position:relative;
}
.block {
	height:100px;
}
.extra {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -100px;
}
body, html {
	height:100%;
}
a {
	color:#06b153;
	text-decoration:underline;
	outline:none;
}
a:hover {
	text-decoration:none;
}
h1 {
	float:left;
	padding:17px 0 0 0;
}
h2 {
	font-size:40px;
	text-transform:uppercase;
	font-weight:600;
	color:#3081c8;
	line-height:52px;
	padding:2px 0 33px 0;
}
h3 {
	font-size:26px;
	color:#fff;
	color:#fff;
	padding-left:35px;
	line-height:57px;
	margin-bottom:30px;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	text-transform:uppercase;
	font-weight:600;
}
p {
	padding-bottom:17px;
}
header {
	overflow:hidden;
	width:100%;
	height:494px;
}
#logo {
	background:url(../images/travelexperts2.png) no-repeat;
	display:block;
	width:300px;
	height:100px;
	text-indent:-5000px;
}
#logo1 {
	background:url(../images/006.gif) no-repeat;
	display:block;
	width:300px;
	height:100px;
	text-indent:-5000px;
}
#login {
	background:#f09e2f;
	display:block;
	width:300px;
	height:101px;
	text-indent:-5000px;
}
#search {
	float:right;
	padding:36px 0 10px 0;
}
#search .bg {
	background:url(../images/search.gif) no-repeat;
	width:247px;
	height:29px;
}
#search .submit {
	background:none;
	width:29px;
	height:29px;
	float:right;
	cursor:pointer;
}
#search .input {
	float:right;
	background:none;
	font:13px Arial, Helvetica, sans-serif;
	color:#303030;
	width:208px;
	height:17px;
	padding:6px 5px;
}
#top_nav {
	float:right;
	padding:0;
}
#top_nav li {
	float:left;
	padding-left:5px;
}
#top_nav a {
	display:block;
	background:url(../images/top_nav_bg.gif) no-repeat;
	width:100px;
	font-size:13px;
	line-height:29px;
	color:#323232;
	text-align:center;
	text-decoration:none;
}
#top_nav a:hover {
	color:#fff;
	background:#323232;
}
#menu {
	width:960px;
	margin-top:45px;
	margin-bottom:0px;
	height:57px;
	overflow:hidden;
	padding-bottom:1px;
	border-bottom:5px solid 
}
#menu li {
	float:left;
       
}
#menu li a {
	display:block;
	font-size:26px;
	color:#fff;
	font-weight:600;

	padding:0 72px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	behavior:url(../js/PIE.htc);
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
	line-height:57px;
}
#menu li a:hover, #menu #menu_active a {
	background:rgb(2, 0, 105);
}
#menu .end a {
	padding-right:36px;
}
.nav1 {
	background:rgb(59, 0, 0);
}
.nav2 {
	background:rgb(59, 0, 0);;
}
.nav3 {
	background:rgb(59, 0, 0);;
}
.nav5 {
	background:rgb(59, 0, 0);;
}
.tabs {
	width:100%;
	overflow:hidden;
}
.tabs li {
	float:left;
	padding-right:1px;
}
.tabs .end {
	padding:0;
}
.tabs a {
	display:block;
	width:66px;
	font-size:13px;
	line-height:31px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	behavior:url(../js/PIE.htc);
	position:relative;
	background:url(../images/tabs_bg.gif) bottom repeat-x #3081c8;
	text-decoration:none;
}
.tabs a:hover, .tabs .active {
	background:url(../images/bg_form.gif) repeat;
}
.tabs_cont {
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	background:url(../images/bg_form.gif) repeat;
	padding:30px 35px 28px;
}
.img {
	position:absolute;
	right:0px;
	top:203px;
}
.text {
	padding:7px 0 0 36px;
	width:575px;
}
.text h2 {
	font-size:32px;
	color:#323232;
	line-height:40px;
	padding:4px 0 15px 0;
	letter-spacing:-1px;
}
.text p {
	font-size:12px;
	font-weight:bold;
	color:#323232;
	line-height:20px;
	text-align:left;
	padding-bottom:25px;
}
.text img {
	margin-top:43px;
}
#content {
	padding-top:35px;
	width:100%;
	overflow:hidden;
	padding-bottom:60px;
}
.pad_bot1 {
	padding-bottom:17px;
}
.pad_bot2 {
	padding-bottom:7px;
}
.pad_left1 {
	padding-left:42px;
}
.pad {
	padding:0 13px;
}
.marg_bot1 {
	margin-bottom:17px;
}
.marg_right1 {
	margin-right:18px;
}
.marker_1, .marker_2 {
	display:inline-block;
	background:url(../images/marker_1.gif) 0 0 no-repeat;
	width:17px;
	height:17px;
}
.marker_2, .marker_1:hover {
	background:url(../images/marker_2.gif) 0 0 no-repeat;
}
.marker_2:hover {
	background:url(../images/marker_1.gif) 0 0 no-repeat;
}
.under {
	padding-bottom:20px;
	border-bottom:1px solid #cccccc;
	margin-bottom:20px;
}
.button {
	display:inline-block;
	font-size:16px;
	color:#fff;
	background:#f09e2f;
	line-height:35px;
	padding:0 16px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
}
.button:hover {
	background:#8cbd20;
}
.line1 {
	background:url(../images/line_ver.gif) 320px 0 repeat-y;
}
.list1 li {
	line-height:22px;
}
.list1 li a {
	padding-left:13px;
	background:url(../images/marker_3.gif) 0 5px no-repeat;
}
#ContactForm {
	margin-top:-10px;
	line-height:29px;
	font-weight:bold;
	width:638px;
}
#ContactForm a {
	margin-left:10px;
	float:right;
	width:86px;
	text-align:center;
	padding:0;
}
#ContactForm .input {
	float:right;
	margin-right:222px;
	width:335px;
	height:17px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:6px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
#ContactForm textarea {
	overflow:auto;
	float:right;
	width:557px;
	height:307px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:16px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
#form_1 {
	color:#fff;
	line-height:24px;
}
#form_1 .input {
	float:right;
	background:#fff;
	width:133px;
	padding:1px 8px;
	font:12px Arial, Helvetica, sans-serif;
	color:#7f7f7f;
	height:16px;
	margin-top:3px;
}
#form_1 a {
	color:#439deb;
}
#form_1 .radio {
	float:left;
	padding-right:16px;
}
#form_1 .radio.end {
	padding-right:0;
}
#form_1 .radio input {
	float:left;
	margin:5px 5px 0 0;
	height:12px;
	width:12px;
	overflow:hidden;
	padding:0;
}
#form_1 .check_box {
	margin-top:12px;
}
#form_1 .input2 {
	width:62px;
}
#form_1 select {
	width:58px;
	height:18px;
	padding:1px;
	margin-left:5px;
	margin-top:5px;
	display:inline-block;
}
#form_1 .button {
	float:right;
	font-size:12px;
	color:#fff;
	width:66px;
	line-height:26px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	padding:0;
}
footer {
	padding-top:31px;
	text-align:center;
	line-height:18px;
	color:#fff;
}
footer a {
	color:#fff;
	text-decoration:none;
}
footer .lf {
	float:left;
	margin:0;
	padding:0;
}
footer .rf {
	float:right;
	margin:0;
	padding:0;
}
